{% extends "layout.html" %}
{% block title %} {{ project.name }} {% endblock %}
{% block content %}
<div class="cards">
	<h1 class="card">{{ project.name }}</h1>
	<h3 class="card">{{ project.description | linebreaks}}</h3>
</div>
	<h2 class="card"> Tasks in this Project </h2>
        <div >
		{% for task in project.task_set.all %}
		<div class="card">
		    <h3 > 
                         <a href="{% url 'py_proj_man:task' project.workspace.id project.id task.id %}">{{ task.name }}</a>
                    </h3>
		    <div > {{ task.description|linebreaks }} </div>
		    <div > {{ task.notes|linebreaks }} </div>
                </div>
		{% endfor %}
	</div>
	</div>
	<div> 
<a href="{% url 'py_proj_man:workspace' project.workspace.id %}">Back to Workspace {{ project.workspace.name }}</a>
{% endblock %}
