{% extends "layout.html" %}
{% block title %} {{ task.name }} {% endblock %}
{% block content %}
<div class="cards">
	<h1 class="card">{{ task.name }}</h1>
	<div class="card">{{ task.description | linebreaks}}</div>
</div>
<div class="cards">
	<div class="card">
		<div class="cards">

				<h3>Budget</h3>
			<div class="card-copy">
				<div class="card-copy">
					<b>Time</b>
					{{ task.budget.time }}
				</div>
				<div class="card-copy">
					<b>Money</b>
					{{ task.budget.cost }}
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<h3 >Notes</h3>
		<div>{{ task.notes }} </div>
	</div>
</div>
<div class="cards">
        <div class="card">
		<h3>Parent Task</h3>
		<div class="card-copy">
		    <h3 > {{ parent.name }}</h3>
		    <div > {{ parent.description|linebreaks }} </div>
		    <div > {{ parent.notes|linebreaks }} </div>
		</div>
	</div>
        <div class="card">
		<h3>Prerequisites</h3>
		{% for prereq in task.prereequisites_set.all %}
		<div class="card">
		    <h3 class="card"> {{ prereq.name }}</h3>
		    <div > {{ prereq.description|linebreaks }} </div>
		    <div > {{ prereq.notes|linebreaks }} </div>
                </div>
		{% endfor %}
	</div>
</div>
<div class="card">
	<a href="{% url 'py_proj_man:project' task.project.workspace.id task.project.id %}">
		Back to Project {{ task.project.name }}
	</a> 
</div>
{% endblock %}
